<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/css/style.css" />
  <link rel="stylesheet" href="/public/css/mobilestyle.css">
  <link rel="stylesheet" href="/public/css/topnav.css">
  <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Murray Innovation</title>
  <meta http-equiv = "refresh" content = "10; url = /home" />

</head>

<body>

  <main>
    <section class="header">
      <h2 class="big-text">Uh oh</h2>
      <h3 class="sub-big-text">It looks like this page doesn't exist, you are being relocated</h3>
    </section>

  </main>
  <!-- <script src="/public/javascript/animation.js"></script> -->
  <!-- <script src="/public/javascript/loader.js"></script> -->
  <script src="/public/javascript/topnav.js"></script>
</body>
<script>

</script>
</html>