<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/public/assets/logo/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/mobilestyle.css">
    <link rel="stylesheet" href="/public/css/topnav.css">
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Murray Innovation</title>


</head>

<body>

    <main>
        <section  class="header" id="header">
            <div class="topnav" id="myTopnav">
                <!-- <img src="/public/assets/icons/logo.svg" id="logo"> -->
                <a href="/home">Home</a>
                <a href="/updates">Updates</a>
                <a href="/contact">Contact</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <h2 class="big-text">Updates</h2>
        </section>
        <section id="updates" style="text-align: center;">
            <img height="auto" width="50%" src="/public/assets/images/underconstruction.svg">
            <h3>Under Construction</h3>
        </section>
    </main>
    <!-- <script src="/public/javascript/animation.js"></script> -->
    <!-- <script src="/public/javascript/loader.js"></script> -->
    <script src="/public/javascript/topnav.js"></script>
</body>
<footer>
    <p>© 2020 Kevin Murray. All rights reserved.</p>
    <p>Website developed by <a href="https://liam-murray.glitch.me">Liam Murray</a></p>
  </footer>
</html>